import os

class Config:
    # Flask config
    SECRET_KEY = os.environ.get('SECRET_KEY', '{{ lookup('password', '/dev/null chars=ascii_letters,digits length=32') }}')
    DEBUG = False
    TESTING = False

    # Database config
    SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://{{ db_user }}:{{ db_password }}@{{ db_host }}:{{ db_port }}/{{ db_name }}'
    SQLALCHEMY_TRACK_MODIFICATIONS = False

class DevelopmentConfig(Config):
    DEBUG = True

class ProductionConfig(Config):
    pass

class TestingConfig(Config):
    TESTING = True
    SQLALCHEMY_DATABASE_URI = 'sqlite:///:memory:'

config = {
    'development': DevelopmentConfig,
    'production': ProductionConfig,
    'testing': TestingConfig,
    'default': DevelopmentConfig
}
